.carousel-container {
  max-width: 1200px;
  margin: 0 auto;
}

.image-dot-container {
  display: flex;
  justify-content: center;
  padding: 25px;
}

.carousel-frame {
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
  background-color: lightgray;
  position: relative;
  overflow: hidden;
}

.carousel-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.active {
  z-index: 100;
}

.right {
  transform: translateX(100%);
  z-index: 50;
}

.left {
  transform: translateX(-100%);
  z-index: 50;
}

.slide-left {
  transform: translateX(-100%);
  transition-property: transform;
  transition-duration: .3s;
}

.slide-center {
  transform: translateX(0%);
  transition-property: transform;
  transition-duration: .3s;
}

.slide-right {
  transform: translateX(100%);
  transition-property: transform;
  transition-duration: .3s;
}

.hide {
  display: none;
}

#next {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  z-index: 200;
  height: 100%;
  width: 30%;
  cursor: pointer;
  opacity: 0%;
}

#previous {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  z-index: 200;
  height: 100%;
  width: 30%;
  cursor: pointer;
  opacity: 0%;
}

#next:hover, #previous:hover {
  background-color: black;
  opacity: 50%;
}

.fa-arrow-right, .fa-arrow-left {
  color: white;
  font-size: 48px;
}

.fa-circle {
  font-size: 12px;
  font-weight: bold;
  padding: 5px;
}

